@using PagedList.Mvc;
@using PagedList;

@model IEnumerable<Week14AMVCWebApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <table class="table">
        <thead>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
                </td>
            </tr>
        }

        <tr>
            <td>
                @Html.ActionLink("AddNewUser", "Add", new { controller = "User", action = "Add", id = UrlParameter.Optional })
            </td>
        </tr>
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>


